<div class="player-card-container">
  <div class="player-card selected">
    <img src="red.png" alt="Red Token" class="token-img" />
    <span class="player-name">Player 1</span>
  </div>
  <div class="player-card">
    <img src="blue.png" alt="Blue Token" class="token-img" />
    <span class="player-name">Player 2</span>
  </div>
  <div class="player-card">
    <img src="green.png" alt="Green Token" class="token-img" />
    <span class="player-name">Player 3</span>
  </div>
  <div class="player-card">
    <img src="yellow.png" alt="Yellow Token" class="token-img" />
    <span class="player-name">Player 4</span>
  </div>
</div>
