

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas{
    border: 1px solid black;
    image-rendering: pixelated;
}